.contacts-header {
  .header-bottom {
    margin-bottom: 21px;
  }
}

.contacts-title {
  margin-bottom: 17px;
}

.contacts__input {
  @include formInput;
  display: inline-block;
  width: 624px;
  margin: 0;
  margin-right: 28px;
}

.contacts__btn {
  @include coloredBtn;
  padding: 17px 32px;
}

.contacts__form {
  margin-bottom: 32px;
}

.contacts__map {
  width: 100%;
  height: 510px;
}

.ymaps-2-1-79-image:hover {
  width: 50px;
}

[class*='copyrights-pane'] {
  display: none !important;
}

.balloon {
  max-width: 283px;
  padding: 10px;
  font-family: 'OpenSans', sans-serif;
  color: var(--black);

  h4 {
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1;
  }

  address {
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    line-height: 1.8;
  }

  .tel-number {
    margin-bottom: 26px;
  }

  .worktime {
    margin-bottom: 22px;
  }

  .grey-text {
    color: var(--grey);
  }
}

@media screen and (max-width: 1024px) {
  .contacts-header {
    .header-middle {
      margin-bottom: 28px;
    }
  }

  .contacts-title {
    margin-bottom: 16px;
  }
}
